@import url('https://fonts.googleapis.com/css2?family=Genos&display=swap');
*{
  background-color: #ffffff;
  font-family:'Genos', sans-serif;
  color: black;
}
.logo{
  margin: auto;
  display: block;
  display: flex;
  justify-content: center;
  width: 100px;
  height: 100px;
}
.welcome{
  margin: auto;
  display: block;
  display: flex;
  justify-content: center;
}
h1{
  font-size: 26px;
  color: black;
}
.header {
  align-items: center;
  font-size: 18px;
}
.msg{
  color: #cd141a;
  text-align: center;
}
input{
  text-align: center;
  font-size:15px;
}
.bottom{
  text-align: center;
  font-size: 14px;
}
.bottom .bottomLink:hover{
  color:#4c62a1;
}
.btn:hover{
  color: white;
  background-color: #83206d;
}
::placeholder{
  font-size: 10px;
  color: black;
}
.TopNavigation{
  text-align: center;
}
.tabs a:hover{
  color: white;
  background-color: #83206d;
}
.sideNavContainer{
  margin-top: 30px;
}
.sideNavContainer .sideNavTabs a{
  display: block;
  padding: 10px;
}
.information p{
  display: block;
  background-color: #177f36;
  color: white;
}
.information{
  padding: 10px;
  margin-left: 40%;
  margin-top: -118px;
  background-color: #83206d;
}
.active{
  background-color: #4c62a1;
  color: white;
}
.types-of-quizzes {
  text-align: center;
}
.types-of-quizzes button img{
  width: 150px;
  height: 100px
}
.types-of-quizzes button a:hover{
  color: white;
  background-color: #83206d;
}
.title h1{
  font-size: 20px;
  text-align: center;
  color: #177f36;
}
#display {
  display: flex;
  justify-content: space-evenly;
}
.display-prefix{
  text-align: center;
}
.choice-container{
  margin: auto;
  width: 50%;
  padding: 10px;
  background-color: #4c62a1;
  color: white;
}
.choiceText{
  display: inline-block;
  background-color: #4c62a1;
  color: white;
}
.choice-prefix{
  display: inline-block;
  background-color: #4c62a1;
  color: white;
}
.choice-container:hover{
  cursor: pointer;
  transform: scale(1.06);
  transform: transform 100ms;
}
#question{
  text-align: center;
}
#progressBar{
  width: 100px;
  height: 10px;
  border: 2px solid #177f36;
  overflow: hidden;
}
#progressBarFull{
  height: 100%;
  background-color: #177f36;
  width: 0%;
}
.finalResult{
  text-align: center;
}
.notification {
  background-color: #f2f2f2;
  padding: 10px;
  margin-bottom: 10px;
}
.forms h1{
  text-align: center;
}