@import url('https://fonts.googleapis.com/css2?family=Genos&display=swap');
*{
  background-color: #ffffff;
  font-family:'Genos', sans-serif;
  color: black;
}
.logo{
  margin: auto;
  display: block;
  display: flex;
  justify-content: center;
  width: 100px;
  height: 100px;
}
.welcome h1{
  text-align: center;
  font-size: 30px;
  color: #4c62a1;
  font-weight: bolder;
}
.header h2{
  text-align: center;
  font-size: 20px;
}
.msg{
  text-align: center;
  font-size: 15px;
  color: #cd141a;
  font-weight: bolder;
}
.btn:hover{
  background-color: #83206d;
  color: white;
}
.text-center{
  text-align: center;
}
.bottomLink:hover{
  color: #4c62a1;
}
::placeholder{
  text-align: center;
  font-size: 10px;
  color: black;
}
input{
  text-align: center;
  font-size: 12px;
  color: black;
}
.header .word{
  text-align: center;
  font-size: 30px;
  color: #4c62a1;
  font-weight: bolder;
}
.active{
  color: white;
  background-color: #4c62a1;
}
.TopNavigation{
  text-align: center;
}
.TopNavigation .tabs a:hover{
  background-color: #177f36;
  color: white;
}
.sideNavTabs a{
  display: block;
  align-content: center;
  margin-right: 60%;
}
.sideNavTabs a:hover{
  background-color: #177f36;
  color: white;
}
.info{
  margin-left: 45%;
  margin-top: -160px;
}
.info h3{
  background-color: #4c62a1;
  color: white;
}
.form{
  display: flex;
  justify-content:center;
  border: 1px solid black;
}
.forms{
  text-align: center;
  margin-top: 20px;
}
.forms h1{
  background-color: #4c62a1;
  color: white;
}
h1{
  text-align: center;
}
p{
  text-align: center;
}
button:hover{
  background-color: #83206d;
  color: white;
}
button a:hover{
  background-color: #83206d;
  color: white;
}
.bt{
  border: 1px solid black;
}
.bt:hover{
  background-color: #83206d;
  color: white;
}