<html>
    <head>
        <meta charset="UTF-8">
		<title> Dashboard - Email </title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        </br>
        <div class="logo">
            <img src="{{url_for('static', filename='Tutor.jpeg')}}" alt="logo"/>
        </div>
        <br><br>
        <div class="TopNavigation">
            <div class="tabs">
                <a href="{{ url_for('profile') }}" class="active">Profile</a>
                <a href="{{ url_for('jobs') }}">Opportunities</a>
                <a href="{{ url_for('sign_out') }}">Logout</a>
            </div>
        </div>
        <br><br>
        <div class="sideNavContainer">
            <div class="sideNavTabs">
                <a href="{{ url_for('profile') }}">Dashboard</a><br>
                <a href="{{ url_for('studentinfo') }}">Fill in details and document submission</a><br>
                <a href="{{ url_for('email') }}" class="active">Complaints/Queries</a><br>
            </div>
        </div>
        <br>
        <div class="forms" align="center">
            <h1>Please fill out the form if you have any queries or complaints</h1>
            <form action="mailto:tutorhive9@gmail.com" method="post" enctype="text/plain">
                Name:<br>
                <input type="text" name="name"><br>
                E-mail:<br>
                <input type="email" name="mail"><br>
                Comment/Complaint<br>
                <input type="text" name="comment" size="50"><br><br>
                <input type="submit" value="Send" class="btn">
                <input type="reset" value="Reset">
            </form>                
        </div>
    </body>
</html>