<html>
    <head>
      <meta charset="UTF-8">
      <title>High Results of Knowledge Quiz</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <header>
            <div class="logo">
                <img src="{{url_for('static', filename='Tutor.jpeg')}}" 
                width="100" height="100">
            </div>
        </header>
        <br><br>
        <div class="navigation">
            <div class="options">
                <a href="{{ url_for('profile') }}">Profile</a>
                <a href="{{ url_for('quiz') }}">Quiz</a>
                <a href="{{ url_for('opportunities') }}">Job Opportunities</a>
                <a href="{{ url_for('sign_out') }}">Logout</a>
            </div>
        </div>
        <br><br>
        <div class="container">
            <div id="highResults" class="flex-center flex-column">
                <h1 id="finalResult">Results {{msg}}</h1>
                <ul class="highResultsList"></ul>
                <a href="{{ url_for('profile') }}" class="btn">Go to Dashboard</a>
            </div>
        </div>
        <script>
            const highResultsList = document.querySelector('#highResultsList');
            const highResult = JSON.parse(localStorage.getItem('highResult')) || [];

            highResultsList.innerHTML = 
            highResult.map(result => {
                return `<li class="high-result">${result.result}</li>`
            }).join('');
        </script>
    </body>
</html>