<html>
    <head>
      <meta charset="UTF-8">
      <title>Personality Quiz</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        </br>
        <div class="logo">
            <img src="{{url_for('static', filename='Tutor.jpeg')}}" alt="logo"/>
        </div>
        <br><br>
        <div class="TopNavigation">
            <div class="tabs">
                <a href="{{ url_for('profile') }}">Profile</a>
                <a href="{{ url_for('quiz') }}" class="active">Quiz</a>
                <a href="{{ url_for('sign_out') }}">Logout</a>
            </div>
        </div>
        <br>
        <div class="title">
            <h1>Knowledge Quiz</h1>
        </div>
        <div class="logo">
            <img src="{{url_for('static', filename='knowledge.jpg')}}" alt="knowledge">
        </div>
        <br>
        <div class="container">
            <div id="game" class="justify-center flex-column">
                <div id="display">
                    <div class="display-item">
                        <h1 id="progress" class="display-prefix">
                            Question
                        </h1>
                        <div id="progressBar">
                            <div id="progressBarFull"></div>
                        </div>
                    </div>
                    <div class="display-item">
                        <p class="display-prefix">
                            Result
                        </p>
                        <h1 class="display-main-text" id="resultText">
                            0
                        </h1>
                    </div>
                </div>
                <h1 id="question">Do you consider yourself empathetic?</h1>
                <div class="choice-container">
                    <p class="choice-prefix">A</p>
                    <p class="choiceText" data-number="1">Choice 1</p>
                </div>
                <div class="choice-container">
                    <p class="choice-prefix">B</p>
                    <p class="choiceText" data-number="2">Choice 2</p>
                </div>
                <div class="choice-container">
                    <p class="choice-prefix">C</p>
                    <p class="choiceText" data-number="3">Choice 3</p>
                </div>
                <div class="choice-container">
                    <p class="choice-prefix">D</p>
                    <p class="choiceText" data-number="4">Choice 4</p>
                </div>
            </div>
        </div>
        <script>
            const question = document.querySelector('#question');
            const choices = Array.from(document.querySelectorAll('.choiceText'));
            const progress= document.querySelector('#progress');
            const resultText= document.querySelector('#resultText');
            const progressBarFull= document.querySelector('#progressBarFull');
        
            let currentQuestion = {};
            let acceptingAnswers = true;
            let result = 0;
            let questionCounter = 0;
            let availableQuestions = [];
        
            let questions = [
                {
                    question: "Which of the following allows one to look closely at complete texts in an organized manner?",
                    choice1: "text mapping",
                    choice2: "outlines",
                    choice3: "webs",
                    choice4: "t charts",
                    answer: 1,
                },
                {
                    question: "When determining an adult's weight in metric units, which choice is most appropriate?",
                    choice1: "pounds",
                    choice2: "kilograms",
                    choice3: "ounces",
                    choice4: "liters",
                    answer: 2,
                },
                {
                    question: "In the following, which number is located in the tenths place? 7,804,132.96",
                    choice1: "9",
                    choice2: "6",
                    choice3: "3",
                    choice4: "0",
                    answer: 1,
                },
                {
                    question: "In which of the following locations would you plug in a network cable?",
                    choice1: "Ethernet port",
                    choice2: "USB port",
                    choice3: "PCI port",
                    choice4: "OSI port",
                    answer: 1,
                },
                {
                    question: "Which of the following numbers is considered a whole number, but is NOT considered a natural number?",
                    choice1: "0",
                    choice2: "2",
                    choice3: "3",
                    choice4: "11",
                    answer: 1,
                },
                {
                    question: "When utilizing pronouns such as 'you' and 'yours,' which point of view is being used?",
                    choice1: "1st",
                    choice2: "2nd",
                    choice3: "3rd",
                    choice4: "4th",
                    answer: 2,
                },
                {
                    question: "Which of the following punctuation marks is utilized to separate two independent clauses from one another?",
                    choice1: ":",
                    choice2: "apostrophe",
                    choice3: ",",
                    choice4: "~",
                    answer: 3,
                },
                {
                    question: "This type of data structure allows for the insertion or deletion of elements at the top and is known as:",
                    choice1: "array",
                    choice2: "stack",
                    choice3: "queue",
                    choice4: "list",
                    answer: 2,
                },
                {
                    question: "One angle of a triangle is 40 degrees and another angle is 36 degrees. What is the measurement of the third angle?",
                    choice1: "108",
                    choice2: "104",
                    choice3: "40",
                    choice4: "90",
                    answer: 2,
                },
                {
                    question: "Which of the following is designed to store information on a central server?",
                    choice1: "browser",
                    choice2: "cloud",
                    choice3: "software suite",
                    choice4: "operating system",
                    answer: 2,
                },
                {
                    question: "In the given sentence, which part is considered a prepositional phrase? Michael, Dawn, and Linda are excited because they live by the new neighbors.",
                    choice1: "Michael, Dawn, and Linda",
                    choice2: "are excited because",
                    choice3: "by the new neighbors",
                    choice4: "they live",
                    answer: 3,
                },
                {
                    question: "In the following sentence, where would you place a comma? During the day we went to see a movie and visited the park.",
                    choice1: "movie",
                    choice2: "we",
                    choice3: "went",
                    choice4: "day",
                    answer: 4,
                }
            ];
        
            const POINTS = 1;
            const MAX_Questions = 12;

            startQuiz = () => {
                questionCounter = 0;
                result = 0;
                availableQuestions=[...questions];
                getNewQuestions();
            }
            getNewQuestions = () => {
                if(availableQuestions.length === 0 || questionCounter > MAX_Questions){
                    localStorage.setItem('Recent Result', result)

                    return window.location.assign("{{ url_for('endQuiz') }}");
                }
                questionCounter++;
                progress.innerText = `Question ${questionCounter} of ${MAX_Questions}`;
                progressBarFull.style.width = `${(questionCounter/MAX_Questions) * 100}%`;

                const questionIndex = Math.floor(Math.random() * availableQuestions.length);
                currentQuestion = availableQuestions[questionIndex];
                question.innerText = currentQuestion.question;

                choices.forEach(choice => {
                    const number = choice.dataset['number'];
                    choice.innerText = currentQuestion['choice' + number];
                })

                availableQuestions.splice(questionIndex, 1);

                acceptingAnswers = true;
            }

            choices.forEach(choice => {
                choice.addEventListener('click', e => {
                    if(!acceptingAnswers) return 

                    acceptingAnswers = false;
                    const selectedChoice = e.target;
                    const selectedAnswer = selectedChoice.dataset['number'];

                    let classToApply = selectedAnswer  == currentQuestion.answer ? 'correct' : 'incorrect'

                    if (classToApply === 'correct'){
                        incrementResult(POINTS);
                    }

                    selectedChoice.parentElement.classList.add(classToApply);

                    setTimeout(() => {
                        selectedChoice.parentElement.classList.remove(classToApply);
                        getNewQuestions();
                    }, 1000)
                })
            })
            incrementResult = num => {
                result += num;
                resultText.innerText = ((result/MAX_Questions)*100);
            }

            startQuiz()
        </script>
    </body>
</html>