<html>
    <head>
        <meta charset="UTF-8">
        <title> Quiz </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">			
    </head>
    <body>
        </br></br></br>
        <div align="center">
            <img src="{{url_for('static', filename='Tutor.jpeg')}}" width="100" height="100"/>
            <br><br>
        </div>
        <br><br>
        <div class="navigation" align="center">
            <div class="options">
                <a href="{{ url_for('profile') }}">Profile</a>
                <a href="{{ url_for('quiz') }}">Quiz</a>
                <a href="{{ url_for('opportunities') }}" class="active">Job Opportunities</a>
                <a href="{{ url_for('sign_out') }}">Logout</a>
            </div>
        </div>
    </body>
</html>