<html>
    <head>
        <meta charset="UTF-8">
        <title> Quiz </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">			
    </head>
    <body>
        </br>
        <div class="logo">
            <img src="{{url_for('static', filename='Tutor.jpeg')}}" alt="logo"/>
        </div>
        <br><br>
        <div class="TopNavigation">
            <div class="tabs">
                <a href="{{ url_for('profile') }}">Profile</a>
                <a href="{{ url_for('quiz') }}" class="active">Quiz</a>
                <a href="{{ url_for('sign_out') }}">Logout</a>
            </div>
        </div>
        <br><br>
        <div class="msg">
            Hi {{session.username}}, please do the following quizzes, so that you can see the job opportunities.
        </div>
        <br><br>
        <div class="types-of-quizzes">
            <button>
                <img src="{{url_for('static', filename='Personality.jpg')}}" alt="Personality">
                <br>
                <a href="{{ url_for('personality_quiz') }}">Personality Quiz</a>
            </button>
            <button>
                <img src="{{url_for('static', filename='knowledge.jpg')}}" alt="knowledge">
                <br>
                <a href="{{ url_for('knowledge_quiz') }}">Knowledge Quiz</a>
            </button>
        </div>
    </body>
</html>