<html>
    <head>
        <meta charset="UTF-8">
		<title> Congratulations </title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        </br>
        <div class="logo">
            <img src="{{url_for('static', filename='Tutor.jpeg')}}" alt="logo"/>
        </div>
        <br><br>
        <div class="TopNavigation">
            <div class="tabs">
                <a href="{{ url_for('profile') }}" class="active">Profile</a>
                <a href="{{ url_for('jobs') }}">Opportunities</a>
                <a href="{{ url_for('sign_out') }}">Logout</a>
            </div>
        </div>
        <br><br>
        <div class="msg">
            <h1>We have recieved your application, we will get back to you soon!</h1>
        </div>
        <div class="back">
            <a href="{{ url_for('profile') }}">Go home</a>
        </div>
    </body>
</html>