<html>
	<head>
		<meta charset="UTF-8">
		<title> Sign in </title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	</head>
	<body>
        </br></br>
		<div class="logo">
            <img src="{{url_for('static', filename='Tutor.jpeg')}}" alt="logo"/>
		</div>
		<div class="welcome">
			<h1>Welcome to TutorHive</h1>
		</div>
		<br/>
		<div class="header">
			<h2>Sign into your account</h2>
		</div>
		</br>
		<h2 class="word">
			<form action="{{ url_for('sign_in') }}" method="post" align="center">
			<div class="msg">{{ msg }}</div>
			<br>
				<input id="username" name="username" type="text" placeholder="Enter Your Username" class="textbox"/></br></br>
				<input id="password" name="password" type="password" placeholder="Enter Your Password" class="textbox"/></br></br></br>
				<input type="submit" class="btn" value="Sign In"></br></br>
			</form>
		</h2>
		<div class="text-center">
			Need an account? 
			<a class="bottomLink" href="{{url_for('register')}}">Create one here</a>
		</div>
	</body>
</html>
